[2018-01-30 15:26] mtrythall opened #1 "Setup Browsertesting.com w/matrix"
We need to be able to test the microsite (and dashboard) against this matrix:

https://docs.google.com/a/lincolnloop.com/spreadsheets/d/1-E22NDJ2V2kzhZaqR571Rqma-6m-yBIqi9l8jG55e1U/

In general:

1. Target IE11+
2. Target latest Chrome, Safari, Edge, and Firefox
3. Test on 2013 era mobile phones and latest flagships where available
4. iOS 10+ and Android 6+

[2018-01-30 15:27] mtrythall opened #2 "UI Framework Decision"
In order to ease development we are considering one of three possible scenarios:

1. Bootstrap v4
2. Foundation 6.4.3+
3. Rolling our own (last resort)

[2018-01-30 23:07] mtrythall opened #3 "Pattern Lib/Style Guide Setup"
We'll need an easy way to document the design. Available options:

* https://github.com/kss-node/kss-node
* http://oddbird.net/herman/
* https://foundation.zurb.com/sites/docs/style-sherpa.html

[2018-01-30 23:18] mtrythall opened #4 "Design: Site Header"

[2018-01-30 23:30] mtrythall commented on #2
We'll go with Foundation 6.4.3+

We get a lot more out of the box. Starter styles are poor but that's not a major problem for us given that we're not prototyping heavily.

[2018-01-30 23:30] #2 closed

[2018-01-31 00:54] mtrythall commented on #1
I got this as close as I could in CBT.com:

https://app.crossbrowsertesting.com/public/ic05b2f368a8ccf1/screenshots/z67ba3342208c7c0694c

^^ Test URL.

That feels like a wide enough net.

[2018-01-31 00:54] #1 closed

[2018-01-31 08:02] nicolaslara opened #5 "Setup the initial project structure and test server"

[2018-01-31 08:03] #5 closed

[2018-01-31 08:35] nicolaslara opened #6 "CMS Modules: Architechture"
We need to decide which sort of CMS modules will be available for creating the site.

This is at the moment blocked by the design.

[2018-02-28 21:13] #4 closed

[2018-02-28 21:14] mtrythall commented on #6
@nicolaslara Is this still blocked. We have enough to do a section plugin now, right?

[2018-02-28 21:43] mtrythall opened #7 "Header Implementation"
The header represents the logo and various navigation items.

Navigation items can be modified in Django CMS.

On mobile, the header collapses to a small, minimalist size and features an off-canvas navigation via Foundation:

https://foundation.zurb.com/sites/docs/off-canvas.html

[2018-02-28 21:48] mtrythall opened #8 "Footer Implementation"
The footer features the following:

1. Logo
2. Primary navigation
3. A brief statement about RapidPro Health
4. A contact email
5. Secondary navigation
6. Copyright info

![screenshot 2018-02-28 16 48 21](https://user-images.githubusercontent.com/84750/36814962-324c9c78-1ca7-11e8-9ad2-07db94d0c023.png)

[2018-02-28 21:50] mtrythall opened #9 "Icon Card Grid"
An icon card grid is a series of cards featuring an icon, title, and brief description.

The grid should never be more than 3 cards wide.

![screenshot 2018-02-28 16 49 26](https://user-images.githubusercontent.com/84750/36815035-726c59ec-1ca7-11e8-8cdf-80ee9cffc79b.png)

[2018-02-28 22:00] mtrythall opened #10 "Photo Card Grid"
The example card grid features a series of cards consisting of:

1. Location
2. A picture representing the example
3. The title/name of the example
4. Related tags (up to 3) (TBD: Confirm)
5. A short description (not depicted)

No more than 4 examples may be placed in a row

Grid should scale as: 1, 2, 4

![screenshot 2018-02-28 16 57 56](https://user-images.githubusercontent.com/84750/36815403-94

[2018-02-28 22:10] mtrythall opened #11 "Hero (Simple)"
The simple hero consists of a background, with pattern (TBD), and rich text.

![screenshot 2018-02-28 17 10 33](https://user-images.githubusercontent.com/84750/36815927-4be57e22-1caa-11e8-8579-7fcdab294553.png)

[2018-02-28 22:12] mtrythall opened #12 "Hero (Complex)"
The Hero (Complex) component features the a title, background effect (TBD), rich text area, and an image.

It may accept Icon Cards.

![screenshot 2018-02-28 17 11 54](https://user-images.githubusercontent.com/84750/36815976-805108c0-1caa-11e8-8e5b-1ea394a6c5c2.png)

[2018-02-28 22:13] mtrythall opened #13 "Icon Card"
An icon card consists of:

1. A title
2. Short (rich) text (optional)
3. An icon
4. Optional set of classes (TBD) (optional)

These may be added to multiple components.

![screenshot 2018-02-28 17 12 53](https://user-images.githubusercontent.com/84750/36816020-9f8589b4-1caa-11e8-8aa1-486a2d204e99.png)

![screenshot 2018-02-28 17 13 12](https://user-images.githubusercontent.com/84750/36816043-aaa35

[2018-02-28 22:14] mtrythall commented on #13
@nicolaslara Probably good to allow an icon to be uploaded or selected from a system similar to those on other projects.

[2018-02-28 22:23] mtrythall opened #14 "Section Component"
The Section component features the following:

1. Title
2. Image (optional)
3. Rich text (optional)
4. A call to action button (link, optional)

Sections can accept any of the following:

1. An image
2. Icon Card
3. Map
4. Text

![screenshot 2018-02-28 17 23 18](https://user-images.githubusercontent.com/84750/36816540-140c0b22-1cac-11e8-9ec9-64786f678a8f.png)

[2018-02-28 22:29] mtrythall opened #15 "System for Responsive Images"
We need a system for responsive images that allows us to use named sizes in templates.

Resizing should take into consideration Filer's crop points if possible.

[2018-03-13 10:40] nicolaslara commented on #11
The BE for this should be ready

[2018-03-13 11:14] nicolaslara commented on #12
I want to note that we need to choose if we want to support highly rich text editing (allowing, for example, internal links and images in the text) or subplugins (cards).

This means that the complex hero will allow for cards, but not internal links in the text and images in the text. If we wanted to have both, we could split these so that we have a hero without child plugins and a standalone card

[2018-03-13 11:16] nicolaslara commented on #14
We are splitting the section plugin in "Section + Cards" and "Section + Text".

Besides clarity, the main technical difference is what I describe in https://github.com/rapidpro/chpro-microsite/issues/12#issuecomment-372630539. Section+Text allows for very rich text editing, so no child plugins are allowed. Section+Cards limits the text to the standard WYSIWYG but allows cards.

[2018-03-13 11:34] nicolaslara commented on #13
I'm keeping the icons as images selected from filer for now. We need to discuss how to deal with static icons as this beings some complexities.

[2018-03-17 17:22] mtrythall commented on #13
@nicolaslara I think that might be a problem if we want to use SVG icons, which I do not think filer supports.

<img width="538" alt="screenshot 2018-03-17 13 21 53" src="https://user-images.githubusercontent.com/84750/37558161-3086b378-29e6-11e8-8827-097ff08af2e1.png">

Any icon pack we use is going to be SVG and rightfully so as we may need to theme these. How do you want to handle?

[2018-03-17 17:24] mtrythall commented on #8
I've hardcode Terms, Privacy Policy, and Support.

I think the footer changes so seldom it doesn't need to be editable, so leaving it as is.

[2018-03-17 17:49] mtrythall commented on #14
@nicolaslara Is the intent that the image is added via the WYSIWYG editor or via a separate field?

I vote separate field. Adding it via the WYSIWYG seems to be a poor experience for the editor currently (too many popups, can't access the save button on a small display).

[2018-03-19 20:22] jessiofhall commented on #6
@nicolaslara can I close this?

[2018-03-20 15:52] #8 closed

[2018-03-20 15:52] #6 closed

[2018-03-20 17:41] mtrythall commented on #15
Looks like we can do this in templates, so we're good. I'm going to close this since we have what we need from Foundation on the FE.

[2018-03-20 17:41] #15 closed

[2018-03-20 19:04] nicolaslara opened #16 "Setup the build system with another entry point for the admin"
This should support the admin's default jquery and plugins like select2

[2018-03-20 19:07] nicolaslara opened #17 "Add styles for the icon selector"

[2018-03-20 23:17] mtrythall opened #18 "Header should not show Homepage link"
The menu code we're using from Django CMS is showing the Homepage. This should not appear. The navigation should start at "About"

[2018-03-20 23:17] mtrythall commented on #18
I can hide this with CSS, but that feels wrong given the duplication in nav items in the HTML. Ideally, navigation does not include the homepage.

Should we solve this in the templates? Happy to pitch in, just want to know the *right* way to solve it.

[2018-03-20 23:18] mtrythall commented on #3
We've settled on kss-node here. @sodevious has it covered.

[2018-03-20 23:20] mtrythall commented on #18
Note, we want the homepage to appear in *other* menus, just not the one in the header on desktop.

[2018-03-21 00:46] mtrythall commented on #12
I did some thinking and I think the 3 cards under the complex hero should be a card grid with an alternative style. It doesn't make sense to connect these.

What we can do, instead, is have the current homepage design used for cards. That should solve all our issues here and we can probably close out hero.

WYSIWYG issues can be separated out.

[2018-03-21 07:39] nicolaslara commented on #18
That's because I designed it with a different page structure in mind. I've fixed it on the test server and reverted the menu values to match.

<img width="250" alt="list_of_pages" src="https://user-images.githubusercontent.com/37868/37698453-54438566-2ce3-11e8-9c38-776ff2bfdb2c.png">

[2018-03-21 07:39] #18 closed

[2018-03-21 07:41] nicolaslara commented on #12
That sounds good to me. This all depends on the design, if the cards need to know something about the hero above, we should connect them. Based on your comment above, it seems they don't.

Let's split the wysiwyg issues and allow card grids to use different styles

[2018-03-21 08:47] nicolaslara commented on #13
That error was on old code. This should work now.

[2018-03-21 12:35] mtrythall commented on #12
To clarify, because I realize I may have misspoke, we still need complex hero with Cards, it'll just look like the homepage. You can add multiple cards (not sure why you would). I don't see how else to do that, since I need to overlay the cards over the hero, and using 2 components to do that is confusing.

I'll build this out today.

[2018-03-21 12:38] mtrythall commented on #18
Ok, I figured as much, but thought I'd check. Thanks!

[2018-03-21 15:49] mtrythall opened #19 "Step Plugin"
The Step Plugin lives on Get Started. It consists of:

1. Title
2. Sub-title
3. Text
4. Link

The numbers that appear could be handled via templates (as in, the order, deferring to @nicolaslara)

![screenshot 2018-03-21 11 44 10](https://user-images.githubusercontent.com/84750/37720223-35884dea-2cfd-11e8-8fa0-6b1ae07883da.png)

[2018-03-21 15:53] #11 closed

[2018-03-21 16:05] mtrythall commented on #14
This needs:

1. An image field (on the section itself, not a child)
2. A style (drop down) option that will determine the background color

I'll split out sub-components.

[2018-03-21 16:06] mtrythall commented on #7
Only thing missing here is the active state.

@nicolaslara if you know the template code for this offhand LMK.

[2018-03-21 16:06] mtrythall commented on #3
We decided to move forward with KSS here.

[2018-03-21 16:11] mtrythall opened #20 "Step Detail Plugin"
Name WIP

Step detail plugin features the following:

1. An icon
2. Title
3. Text (WYSIWYG)
4. Files (under Tools)
5. Related Links (under Examples)

Not sure how you want to handle 4 and 5 @nicolaslara

![screenshot 2018-03-21 12 10 51](https://user-images.githubusercontent.com/84750/37721830-e8b59eb0-2d00-11e8-814c-c2155d8f2c38.png)

[2018-03-21 16:46] mtrythall opened #21 "Case Studies"

[2018-03-21 16:48] mtrythall opened #22 "Back to Top Link on Heroes"
The top of heroes occasionally needs a "Back to <parent>" link

![screenshot 2018-03-21 12 47 46](https://user-images.githubusercontent.com/84750/37723979-1f63ae52-2d06-11e8-9c9b-af4c0e6ec5af.png)

[2018-03-21 16:49] mtrythall commented on #22
@nicolaslara Not sure how to handle this one yet. Maybe we can make it an option or we can add a link to Hero (Complex) like we do for Section?

[2018-03-21 16:52] mtrythall opened #23 "Featured Accordion"
Per Slack:

This is a plugin that accepts Photo Cards (currently called Featured Cards). It accepts:

1. Title
2. Style (same options as Hero)
3. Link

There is no image or body copy

You can add Photo Cards to it and they'll appear as an accordion.

![screenshot 2018-03-21 12 52 17](https://user-images.githubusercontent.com/84750/37724254-b7e2cf64-2d06-11e8-8ff3-0487a5a461df.png)

[2018-03-21 19:31] mtrythall opened #24 "Function/Use Case Detail View"
This view features a Hero element with an icon. Beneath this are 2 columns (on desktop), featuring an image and WYSIWYG area (or series of plugins).

Prototype: https://projects.invisionapp.com/d/#/console/13644598/285078903/preview

[2018-03-21 19:43] mtrythall opened #25 "Blockquotes"
Because of how this is designed, with all the content being in the box, we probably need this to be its own plugin.

It should take:

1. Quote text
2. Quote author
3. Quote author title

It's possible to solve some of this with styles in the WYSIWYG too, perhaps, or to add it as a plugin in the WYSIWYG component itself. Deferring to @nicolaslara

<img width="697" alt="screenshot 2018-03-21 15 41 2

[2018-03-21 20:09] mtrythall opened #26 "Case Study List"
<img width="1055" alt="screenshot 2018-03-21 16 07 55" src="https://user-images.githubusercontent.com/84750/37734629-23a78562-2d22-11e8-93b1-5a8119f4c0ad.png">

This is found at the bottom of Case Studies. It does not need to be a reusable style. We just need to support the HTML/CSS for it and create the background theme.

[2018-03-22 02:24] mtrythall opened #28 "Add prefixing to SCSS"
We're not currently prefixing. Pete said that we can just add browserlist to package.json and Parcel will handle if we're using PostCSS.

We need to try this.

We need to work against this browser matrix:

<img width="732" alt="screenshot 2018-03-21 22 24 20" src="https://user-images.githubusercontent.com/84750/37747643-9ccf112e-2d56-11e8-95f4-0b5b62462eb4.png">

<img width="743" alt="screenshot 2

[2018-03-22 09:31] nicolaslara commented on #21
The backend for this is in. Needs design.

[2018-03-22 09:32] nicolaslara commented on #24
Added this. We would handle these pages by using a "Content template" instead of the default "Generic template". Needs html/css.

[2018-03-22 09:34] nicolaslara commented on #22
I thought that would just be a link to the parent page. I added the variable on the content template, we should be able to style it to float above the first plugin in the header placeholder

[2018-03-22 13:33] mtrythall opened #29 "Case Study Filter"
The case study filter allows the user to filter case studies by tag.

<img width="1040" alt="screenshot 2018-03-22 09 33 26" src="https://user-images.githubusercontent.com/84750/37773465-15733242-2db4-11e8-8dba-49cd9e2eb664.png">

[2018-03-23 00:46] mtrythall commented on #25
@sodevious Can you tackle this? I just need the markup, CSS, etc. No Django side yet AFAIK. Document it in the styleguide, please.

[2018-03-23 02:15] mtrythall commented on #28
@sodevious Can you tackle this one? Not sure if you've worked with Parcel, but we're giving it a shot on the project: https://parceljs.org/

You can see some docs on how to do this here: https://parceljs.org/transforms.html#postcss

Posting to our #feux-war-room channel is good if you have questions. The LL team is very interested in this.

[2018-03-23 13:16] mtrythall commented on #19
Looks like Nicolas has a backend for this, but start in the styleguide.

[2018-03-23 18:40] sodevious commented on #25
@mtrythall Once you rebuild the styleguide, this will be available here: http://localhost:8000/static/styleguide/section-components.html#kssref-components-blockquote

[2018-03-23 18:50] sodevious commented on #20
Could it be "Step (complex)" akin to Hero/Hero (complex)?

[2018-03-23 19:43] mtrythall opened #30 "Added .editorconfig"
We have a solid one on other projects. Just need to port it.

[2018-03-24 12:26] #30 closed

[2018-03-24 12:28] #3 closed

[2018-03-24 12:39] mtrythall commented on #25
This should just need backend. Passing to @nicolaslara

[2018-03-26 15:00] mtrythall opened #31 "Complex Hero deletes Card plugins if Hero is Saved"
Steps to reproduce:

1. Create Hero (Complex)
2. Cards
3. Update Hero (Complex)

Cards disappear.

I get that this happens because of the plugin issue, but it means we can't build the homepage Hero currently.

[2018-03-26 15:59] #22 closed

[2018-03-26 18:12] mtrythall commented on #24
Closing this out. You can build the layout. Individual items have design quirks, will handle them elsewhere.

[2018-03-26 18:12] #24 closed

[2018-03-27 03:41] mtrythall opened #32 "Nav disappears on case study pages"
There is no nav on case study pages: https://unicef-rapidpro-for-health.herokuapp.com/case-studies/help-for-chad/

[2018-03-27 03:45] mtrythall opened #33 "Need back to parent link on Case Studies"
Case Studies have a "Back to CASE STUDIES" link in their hero. This should not be hardcoded and should pull for their actual parent.

![screenshot 2018-03-26 23 44 29](https://user-images.githubusercontent.com/84750/37945744-b400014e-314f-11e8-99c6-b60e202636cd.png)

[2018-03-27 13:49] mtrythall opened #34 "Highlight current nav with ARIA attributes"
Nav items need `aria-current="page"` if you are on that page.

https://github.com/rapidpro/chpro-microsite/issues/7#issuecomment-374995875

[2018-03-27 13:50] mtrythall commented on #26
I have a *rough* version of photo cards (called image cards currently) in the system. I'm trying to flesh that out today, but you can use that HTML for this.

[2018-03-27 13:52] mtrythall commented on #9
Cards just need to be clickable with the appropriate hover effect here.

[2018-03-27 13:53] mtrythall commented on #13
We need the minimal icon style here, as depicted first in the image above.

[2018-03-27 13:53] mtrythall commented on #13
To clarify, we want the layout of the *second* version above (text is full width), but we want the icon in a box.

[2018-03-27 13:54] mtrythall commented on #12
The plugin issue sort of blocks this.

[2018-03-27 13:55] mtrythall commented on #23
Tagged you on this @sodevious but let's save it for absolute last.

[2018-03-27 14:14] mtrythall opened #35 "Sections should allow for themes"
We need to support yellow, beige, and white (default)

<img width="1058" alt="screenshot 2018-03-27 10 13 21" src="https://user-images.githubusercontent.com/84750/37972982-7c57e100-31a7-11e8-9ff9-14738c8517d8.png">

[2018-03-27 14:14] mtrythall commented on #35
Don't sweat adding this to the model yet, just the styles.

[2018-03-27 20:47] mtrythall commented on #35
We need:

White (default)
Light (Yellow color)
Dark (Beige color)

[2018-03-27 20:54] mtrythall commented on #35
@SmileyChris Can you add these to the Section component?

[2018-03-27 20:57] mtrythall commented on #29
This is added as an Application via Django CMS. You can preview it here:

https://unicef-rapidpro-for-health.herokuapp.com/case-studies/

Logged in, click Advanced Settings.

@SmileyChris This needs a backend. There is currently no way to filter. Ideally this works in a way that produces a URL they can share. We'll have more filters later.

[2018-03-27 20:58] mtrythall commented on #25
Please pass to @sodevious when the backend is in place, please.

[2018-03-27 21:30] sodevious opened #36 "Only load the Foundation partials we need"
My apologies if this is something already on your radar (probably is).

Towards the end of the project, we should make sure to create a manifest file that will only include the Foundation bits we are using and need to include, to avoid deploying unused CSS.

https://foundation.zurb.com/sites/docs/sass.html#adjusting-css-output

[2018-03-27 21:57] #34 closed

[2018-03-27 22:03] SmileyChris commented on #34
@mtrythall -- my assumption was that you'd want this still highlighted when on a sub page of one of these sections, even if this isn't technically correct use of the aria tag.

[2018-03-27 22:09] mtrythall commented on #34
Yup. It's the closest semantic thing I know of. Will do more research, but that works for now.

[2018-03-27 22:16] sodevious commented on #26
_Backend note:_ I did the markup for this on https://github.com/rapidpro/chpro-microsite/blob/14fa0fdd38694190d3fc3421af7ab0d4cec9991f/rh/templates/case_studies/case_study_list.html `case_study_list.html`, but it technically should live on `case_study.html`. The backend for that isn't supported yet. Seems like it should render possibly 4 random case studies from the tag that the current case study

[2018-03-28 00:51] SmileyChris commented on #32
I think this is just a rendering bug? I saw it once, but hit refresh and nav is fine again and can't reproduce now.

[2018-03-28 03:09] mtrythall opened #37 "Process for building sprites"
Right now we're doing the sprites manually. They should be built through `yarn`, preferably with:

https://github.com/jkphl/svg-sprite

We should read all the icons from icons/ and build the sprite in img/

Built via something like `yarn build_sprite` or `yarn build_svg` would work.

[2018-03-28 03:14] mtrythall commented on #32
No, don't think so. Screenshot of the DOM from Google Dev Tools attached.

<img width="409" alt="screenshot 2018-03-27 23 12 30" src="https://user-images.githubusercontent.com/84750/38006787-6d70b78a-3214-11e8-90da-5368456f1b1c.png">

This is a Case Study, which is a Django model, and I believe has a Django CMS page associated with it. I don't think Django CMS is available in the context, so menu

[2018-03-28 03:18] mtrythall commented on #36
Moving comments from Slack. This is a great suggestion and I'm glad you noted it.

Typically during build, we include *everything* and then we slim it all down when we're done. We're using very little of Foundation ATM, but in the coming weeks, we'll need to clean up our list for sure. I just took a shortcut and did the one-liner to get us up and running.

Feel free to champion this and get us a c

[2018-03-28 04:20] SmileyChris commented on #32
Ok, I see it now -- it's specifically when in "edit" mode for that page.

It turns out that django-cms always decides to use the published node as the current node, even when that page is being edited.

[2018-03-28 04:27] #32 closed

[2018-03-28 04:27] #33 closed

[2018-03-28 04:29] SmileyChris commented on #26
So the backend logic is to add up to four totally random case studies (excluding the current one)?

[2018-03-28 05:43] SmileyChris commented on #35
@mtrythall added the style to the component, but haven't changed any template code to use this new `style` attribute...

[2018-03-28 12:09] mtrythall commented on #26
Random based on similar tags, but always show four. If you don't have four with those tags, grab something else.

[2018-03-28 15:54] sodevious commented on #19
I think the backend that exists for this is supporting the [complex/detail step](https://github.com/rapidpro/chpro-microsite/issues/20), not this numbered step, just based on what I'm seeing by testing it out in the CMS.

[2018-03-28 16:02] sodevious commented on #20
Should these icons be white to match the white numbers in the regular Step plugin?

![37720223-35884dea-2cfd-11e8-8fa0-6b1ae07883da](https://user-images.githubusercontent.com/915966/38041511-eb7f62d2-327f-11e8-870d-9e3112fb2537.png)
![37721830-e8b59eb0-2d00-11e8-814c-c2155d8f2c38](https://user-images.githubusercontent.com/915966/38041513-ec5bb1a6-327f-11e8-9d8f-90955fde19ef.png)

[2018-03-28 19:39] sodevious commented on #35
@SmileyChris I took care of the template

[2018-03-28 19:46] sodevious commented on #13
In [styleguide](http://localhost:8000/static/styleguide/section-components.html#kssref-components-card)
<img width="517" alt="screenshot 2018-03-28 15 44 04" src="https://user-images.githubusercontent.com/915966/38052376-125b70b6-329f-11e8-90da-04d92575713e.png">

[2018-03-28 19:46] sodevious commented on #19
In [styleguide](http://localhost:8000/static/styleguide/section-components.html#kssref-components-step)
<img width="993" alt="screenshot 2018-03-28 15 44 58" src="https://user-images.githubusercontent.com/915966/38052419-327867b4-329f-11e8-80c6-bcd40b13ceea.png">

[2018-03-28 19:47] sodevious commented on #26
<img width="1250" alt="screenshot 2018-03-28 15 44 47" src="https://user-images.githubusercontent.com/915966/38052442-48376b2c-329f-11e8-8385-cf888fd86179.png">

[2018-03-28 19:50] sodevious commented on #35
![rapidpro health style guide 2](https://user-images.githubusercontent.com/915966/38052570-af6a1aa6-329f-11e8-983c-5b9ebe608671.png)

[2018-03-28 22:00] mtrythall commented on #14
@SmileyChris Could you add the image here please?

[2018-03-28 22:01] mtrythall commented on #14
@SmileyChris Also, we need to figure out this part:

Sections can accept any of the following:

An image
Icon Card
Map
Text

Nicolas was hitting an issue with plugins between the WYSIWYG and those that were added. Links get added as a plugin, so we'd end up with plugins we didn't want as children. It'd be nice to address that some how, but can maybe wait until he's back.

[2018-03-29 01:26] mtrythall commented on #35
Closing the ticket, but would like to see Style moved to after the Body field.

[2018-03-29 01:26] #35 closed

[2018-03-29 02:00] mtrythall commented on #20
@sodevious Sure, make 'em white.

[2018-03-29 02:01] mtrythall commented on #17
@SmileyChris Can you add an admin.css file that only gets added to the page when you're logged in, please?

[2018-03-29 04:17] SmileyChris commented on #17
Just did a simple conditional link in the base.html. Is that sufficient?

[2018-03-30 21:35] sodevious commented on #28
Some examples of the new auto prefixing

<img width="402" alt="screenshot 2018-03-30 17 20 43" src="https://user-images.githubusercontent.com/915966/38154583-b56836ca-3440-11e8-9ca6-f4cc1f93e349.png">
<img width="373" alt="screenshot 2018-03-30 17 20 52" src="https://user-images.githubusercontent.com/915966/38154584-b578236e-3440-11e8-9ba0-0cb1c0e5729d.png">

[2018-04-02 16:24] mtrythall opened #38 "Highlight the Primary Nav"
When items in the primary nav are active, they should receive an underline treatment.

(ignore highlighting from invision)

![screenshot 2018-04-02 12 23 23](https://user-images.githubusercontent.com/84750/38204361-ab400330-3670-11e8-9d97-3c60128a6764.png)

The footer and the off canvas nav should just appear as red.

[2018-04-02 21:40] sodevious commented on #13
@mtrythall @nicolaslara I think the backend for this should allow for styles to be passed, just like the Block model.

ie `default`, `light`,`dark`

[2018-04-03 05:40] SmileyChris commented on #29
Alright, try this out...
I've left the tags in there, just ignore those and set one or more case studies. You should be able to use the filter options on the case studies page to filter by use cases.

[2018-04-03 19:31] #17 closed

[2018-04-03 19:47] mtrythall commented on #16
@nicolaslara Can you clarify this one? Do we need it for so few files?

[2018-04-04 00:58] #28 closed

[2018-04-04 01:08] mtrythall commented on #37
Command fails:

[code]

I can guess at why:

[code]

A clean install of `yarn` then running this produces this error. Any thoughts @sodevious ?

[2018-04-04 02:02] mtrythall commented on #26
@SmileyChris Can you pull this into the case study detail page please? Then we can close it out.

[2018-04-04 02:05] mtrythall commented on #20
@sodevious can you plug this into the CMS? We should have plugins for them now. Take a stab at it please :-)

[2018-04-04 02:06] mtrythall commented on #19
@sodevious can you plug this into the CMS?

This one is built by pulling in the pages from a section.

[2018-04-04 05:40] SmileyChris commented on #14
Now the plugins can be removed from the wsywig option if necessary. Embedded plugins won't be double-rendered now either.

I've merged the section plugin to a single one now. You can add a card grid, not individual cards.

There's a new RawHTML plugin instead of a specific "map" one.

[2018-04-04 05:40] #14 closed

[2018-04-04 06:07] #25 closed

[2018-04-04 06:12] #26 closed

[2018-04-04 14:42] sodevious commented on #37
Locally I ran `yarn global add svg-sprite` to get the CLI.

[2018-04-04 14:43] sodevious commented on #37
Since we really only use the CLI of this package, I wonder if we need it at all in our `package.json`. Could we just add this command to the docs instead?

[2018-04-04 14:59] mtrythall commented on #37
@sodevious I'd like to have it go through yarn so no one needs to memorize 2 commands. Can you update the docs for `yarn global add svg-sprite` - ? I also don't want folks to have to copy and paste a long command.

[2018-04-04 15:25] #38 closed

[2018-04-04 17:15] mtrythall opened #39 "Case Studies: Change countries to list of regions"
The list of regions is:

The Americas and Caribbean
Europe and Central Asia
East Asia and the Pacific
Eastern and Southern Africa
Middle East and North Africa
South Asia
West and Central Africa

[2018-04-04 17:27] mtrythall opened #40 "Add .lead to style drop down on WYSIWYG"
We need a way to apply the lead style to the WYSIWYG.

[2018-04-04 18:20] sodevious commented on #13
@mtrythall oh that makes sense!

[2018-04-04 18:28] sodevious commented on #20
@SmileyChris Can you please allow the Step model/plugin to take an svg icon?
<img width="902" alt="screenshot 2018-04-04 14 28 34" src="https://user-images.githubusercontent.com/915966/38326715-7cd06468-3814-11e8-9344-9e33ba7eb44f.png">

[2018-04-04 20:37] mtrythall opened #41 "Add Step (or Section) Pagination"
We need the ability to add pagination through a section. This could be solved via a template or a plugin.

![screenshot 2018-04-04 16 36 43](https://user-images.githubusercontent.com/84750/38333369-6c09eff2-3826-11e8-98a5-17132f8f4e25.png)

This exists at the bottom of each Step Detail page.

[2018-04-04 23:57] sodevious commented on #29
Should the URL be the slug of the filter?

Current `http://localhost:8000/case-studies/?filter=5`
Proposed `http://localhost:8000/case-studies/?filter=family-planning`

[2018-04-05 03:02] mtrythall commented on #29
^^ Chris I'm voting slug. What do you think?

[2018-04-05 03:03] mtrythall commented on #29
Also, the client requested late today to have region be a filterable option. @SmileyChris is this something we can do?

[2018-04-05 04:54] SmileyChris commented on #41
Added to the backend, needs frontend styling

[2018-04-05 19:25] sodevious commented on #19
@mtrythall Grid was the easiest way to create the visual effect of the two boxes being overlaid - but I am on board with your reasoning and totally understand why we wouldn't want to use it.

I will have to get creative on remaking it in a way that is flexible/responsive!

[2018-04-05 19:44] nicolaslara commented on #16
I experimented on this with Marco but it didn't work as expected. We should be able to improve on it with https://github.com/parcel-bundler/parcel/pull/1119. However, we won't be able to load all the admin js via parcel because of the way select2 attaches itself to jquery (and the presence of several jquery versions due to django cms).

In short, we can close this.

[2018-04-05 20:31] #16 closed

[2018-04-05 20:35] mtrythall commented on #19
Hah, I understand now that I see it. I'm still learning grid, so my first thought was using `position` or transforms to move the box.

In that scenario, you'd have the background color on an inner wrapper, pull the step out closer to the parent (sibling of that inner wrapper), and then doing some work with position and padding to align everything. Trust me, it can work, but not nearly as lovely as

[2018-04-05 21:17] mtrythall commented on #20
I'm not seeing duplication here, I think we're good. LMK if you're still seeing this @sodevious

@SmileyChris Can you add the SVG icon field to this model please?

[2018-04-06 02:25] mtrythall commented on #13
Moving back to in progress since we need to adjust how themes work a little and make linking work better.

[2018-04-06 02:29] #31 closed

[2018-04-06 02:36] mtrythall opened #42 "Bug when adding Step Plugin"
[code]

[2018-04-06 05:27] #42 closed

[2018-04-06 15:25] mtrythall commented on #10
Passed to @sodevious since she's building this elsewhere.

[2018-04-06 17:35] mtrythall opened #43 "Responsive Image Plugin"
The current Image plugin is not responsive. We need access to the HTML so we can use Foundation's responsive code via Interchange. We also need to be aware of placeholders so we don't load inappropriately sized images.

So, we need a HTML file to reference to begin work.

[2018-04-06 18:10] mtrythall opened #44 "Hover/Active/Focus effect for Cards"

[2018-04-06 22:38] sodevious commented on #29
@SmileyChris How do we use `{{ case.use_cases }}`?

This is what I'm getting even though I have something selected on the case study.
<img width="480" alt="screenshot 2018-04-06 18 30 56" src="https://user-images.githubusercontent.com/915966/38447127-a70887d6-39c9-11e8-949d-cbbd7963eeb9.png">
<img width="280" alt="screenshot 2018-04-06 18 37 31" src="https://user-images.githubusercontent.com/91596

[2018-04-08 22:43] SmileyChris commented on #43
I need to know more details about what is actually wanted here. Are *all* images to be responsive? How many responsive sizes are we after? Can I have some example interchange code to work with?

[2018-04-08 23:26] #7 closed

[2018-04-08 23:26] mtrythall commented on #44
@russelq Do we have something for this?

[2018-04-08 23:28] SmileyChris commented on #20
@mtrythall you want the svg icon field displayed after body?

[2018-04-08 23:31] mtrythall opened #45 "Case Study Pagination"
The Case Study listing should allow pagination (9 at a time).

https://www.dropbox.com/s/zb4nhhia2w83ker/Screenshot%202018-04-08%2019.31.36.png?dl=0

[2018-04-08 23:32] mtrythall opened #46 "Case Study Filter by Region"
Users need to be able to filter by Region as well as use case.

[2018-04-08 23:32] mtrythall opened #47 "404 + 500 Pages"
We need some help 404 and 500 pages.

[2018-04-08 23:34] mtrythall commented on #20
SVG icon field should be displayed before body. I believe it's high up
everywhere else.

On Sun, Apr 8, 2018 at 7:29 PM Chris Beaven <notifications@github.com>
wrote:

[2018-04-09 00:13] mtrythall opened #48 "XML Sitemap"
Need a XML Sitemap for Google and other search engines

[2018-04-09 00:35] mtrythall opened #49 "Hero Refactor"
We do not need two Heroes now. Let's:

1. Drop Hero (Simple)
2. Only use Hero (Complex)

We can drop the HTML associated with the basic hero, but should rename hero_complex.html to hero.html.

[2018-04-09 01:58] #12 closed

[2018-04-09 05:03] SmileyChris commented on #29
`use_cases` is a queryset. You can iterate it with {% for case.use_cases.all %}
An individual case is an `Page` model of which you can use `get_title`, `get_slug`, `get_absolute_url` and `metaattributes.svg_icon`

[2018-04-09 05:05] #46 closed

[2018-04-09 05:11] #45 closed

[2018-04-09 15:46] sodevious commented on #29
@SmileyChris thanks! having trouble with the admin for this now.

1. Create a case study
<img width="981" alt="screenshot 2018-04-09 11 44 03" src="https://user-images.githubusercontent.com/915966/38507855-a8334212-3beb-11e8-81d4-ccb659638a26.png">

2. Add a page using the + under "Case Studies"
<img width="619" alt="screenshot 2018-04-09 11 44 14" src="https://user-images.githubusercontent.com/91

[2018-04-09 15:49] sodevious commented on #29
@SmileyChris realize now this piece is still under development. sorry about that!

[2018-04-09 16:08] mtrythall commented on #21
Only thing missing here is fleshing out the sidebar.

[2018-04-09 16:17] sodevious commented on #20
@SmileyChris  StepFiles should have a field for "Link Text"

<img width="834" alt="screenshot 2018-04-09 12 16 42" src="https://user-images.githubusercontent.com/915966/38509448-e6561d7c-3bef-11e8-9884-05425c274b0e.png">
<img width="274" alt="screenshot 2018-04-09 12 17 06" src="https://user-images.githubusercontent.com/915966/38509460-ec129a88-3bef-11e8-9a92-a832d3f6cb96.png">

[2018-04-09 19:01] sodevious commented on #10
<img width="323" alt="screenshot 2018-04-09 15 01 42" src="https://user-images.githubusercontent.com/915966/38517133-f3283618-3c06-11e8-9f27-17bf89982988.png">

[2018-04-09 19:18] mtrythall opened #50 "Add other information to Case Study list"
Should be able to see:

* Region
* Published Status
* Use Cases (comma separated) (nice to have)

<img width="540" alt="screenshot 2018-04-09 15 17 08" src="https://user-images.githubusercontent.com/84750/38517805-26150acc-3c09-11e8-895a-2692731f797a.png">

[2018-04-09 21:19] mtrythall commented on #23
@sodevious Feel free to take a stab at this if you want to mess with Foundation's Accordion at all. Otherwise I'll hit it tomorrow.

[2018-04-10 00:24] mtrythall opened #51 "Refactor Tools and Examples on Steps"
On Tools and Examples, on Step plugins, we have this code:

[code]

Unfortunately, this makes it so that Tools and Examples are always shown. We need a way to wrap a conditional around these sections in the case that they are empty.

[2018-04-10 00:26] mtrythall commented on #29
@sodevious I'm OK with the list of checkboxes for now. Can you clean up the list on the left here, add some sub-labels, and make the UI work better on mobile please (maybe use a Foundation accordion)?

[2018-04-10 00:27] mtrythall commented on #29
@sodevious You'll need to add pages under Use Cases to get them to appear under Case Studies>Use Cases on the Case Study model. Check the staging site.

[2018-04-10 01:44] mtrythall commented on #29
Also, still missing use cases. Have to look at it tomorrow with you.

[2018-04-10 04:44] SmileyChris commented on #29
So to be clear: only published use cases will be shown under the use case list.

[2018-04-10 04:58] #48 closed

[2018-04-10 05:11] #50 closed

[2018-04-10 05:15] #51 closed

[2018-04-10 11:14] mtrythall commented on #29
Referring to use cases as tags on cards. Sorry for confusion

[2018-04-10 16:52] mtrythall opened #52 "Form Styles"
We should have form styles:

https://invis.io/NXGS1KNBASW

[2018-04-10 18:38] mtrythall opened #53 "Unpublished Case Studies appear in Case Study List"
This case study is not marked as published:

https://unicef-rapidpro-for-health.herokuapp.com/admin/case_studies/casestudy/4/change/

<img width="319" alt="screenshot 2018-04-10 14 37 22" src="https://user-images.githubusercontent.com/84750/38576641-b533e4a8-3ccc-11e8-8dfd-4cbf05de6390.png">

Yet it appears in the list:

<img width="605" alt="screenshot 2018-04-10 14 37 45" src="https://user-image

[2018-04-10 18:38] mtrythall commented on #53
The list should not include unpublished case studies.

[2018-04-10 19:29] #10 closed

[2018-04-10 19:30] mtrythall opened #54 "Missing use cases as tags on Case Study Filter list"

[2018-04-10 20:45] sodevious opened #55 "Add to context if Use Cases are filtered on"
http://localhost:8000/case-studies/

I was able to easily update the context if a region was filtered on. I'd like to do the same if a use case is filtered on.

See: https://github.com/rapidpro/chpro-microsite/commit/1cad18f941d6cefdaaf742c2f47a2bee5a8189b2

<img width="298" alt="screenshot 2018-04-10 16 45 20" src="https://user-images.githubusercontent.com/915966/38582689-a27a6190-3cde-11e8-9ea3-

[2018-04-10 21:51] #20 closed

[2018-04-10 22:35] mtrythall opened #56 "Photo on Photo Cards should be clickable if link present"
The photo is an obvious click target that needs to be clickable.

[2018-04-11 02:39] mtrythall commented on #29
This is looking really great @sodevious ! More detail tomorrow/Thursday, but so far so good!

[2018-04-11 17:16] #54 closed

[2018-04-11 21:27] mtrythall commented on #21
This just needs design clean up and I need to see related case studies at the bottom work.

[2018-04-11 21:30] mtrythall commented on #40
Maybe @sodevious can help with this one.

We need to add these classes to the style drop down on CKEditor:

https://docs.ckeditor.com/ckeditor4/latest/guide/dev_howtos_styles.html#how-do-i-customize-the-styles-drop-down-list

We can use this file:

https://github.com/rapidpro/chpro-microsite/blob/custom-ckeditor/rh/client/static/admin/extensions.js#L19-L26 (note this is in the `custom-ckeditor` br

[2018-04-11 21:32] mtrythall opened #57 "Photo card links should not be blue"
They should match heading color.

<img width="807" alt="screenshot 2018-04-11 17 31 50" src="https://user-images.githubusercontent.com/84750/38644371-40655bce-3dae-11e8-9891-1e99c3479a61.png">

[2018-04-11 21:38] mtrythall opened #58 "Refactor .subpage-hero"
Details TBD

[2018-04-11 21:38] mtrythall commented on #29
I think this works. Let's wait for client feedback. Closing for now.

[2018-04-11 21:38] #29 closed

[2018-04-12 02:06] #57 closed

[2018-04-12 02:07] mtrythall opened #59 "Hero with Photo Cards: Cards should be wider on desktop"
These are too small, as controlled by the width of .hero-content. The problem with expanding .hero-content is that the paragraph text is too wide. Need balance per the original mockups.

<img width="777" alt="screenshot 2018-04-11 22 05 43" src="https://user-images.githubusercontent.com/84750/38652579-975f6c82-3dd4-11e8-949a-13ef1af95048.png">

[2018-04-12 02:08] mtrythall opened #60 "Card Grid > Photo Card: All Tags and CTAs should line up"
<img width="801" alt="screenshot 2018-04-11 22 08 06" src="https://user-images.githubusercontent.com/84750/38652637-ded5900a-3dd4-11e8-9338-14ba481bd6c6.png">

[2018-04-12 02:14] mtrythall opened #61 "Footer Nav(s): Primary Nav could switch to horizontal sooner"
The footer nav is unnecessarily vertical at viewport widths that provide ample space.

<img width="802" alt="screenshot 2018-04-11 22 11 28" src="https://user-images.githubusercontent.com/84750/38652752-57f3ff8a-3dd5-11e8-8f78-34adc7565b91.png">

[2018-04-12 02:15] mtrythall opened #62 "Footer Nav(s): Padding on links doesn't align with other items"
See the alignment of all text on the left.

<img width="802" alt="screenshot 2018-04-11 22 11 28" src="https://user-images.githubusercontent.com/84750/38652849-cb255616-3dd5-11e8-8763-d52ab69ae898.png">

[2018-04-12 02:16] mtrythall opened #63 "Long region names wrap oddly on Case Study Filter"
Text should wrap under itself, not under the checkbox.

<img width="247" alt="screenshot 2018-04-11 22 15 52" src="https://user-images.githubusercontent.com/84750/38652889-ee07ffe4-3dd5-11e8-9535-154fc9822ad7.png">

[2018-04-12 02:18] mtrythall opened #64 "Showing less than 4 case studies on similar case studies component"
We should show 4 (published) case studies at the bottom of the Case Study detail page.

https://unicef-rapidpro-for-health.herokuapp.com/case-studies/mvaccination/

<img width="998" alt="screenshot 2018-04-11 22 17 40" src="https://user-images.githubusercontent.com/84750/38652952-34ea8260-3dd6-11e8-829a-97ffd932ab31.png">

[2018-04-12 02:41] mtrythall opened #65 "Error Adding Card Grid to Section"
Trying to add an empty card grid (not based on the site tree):

[code]

[2018-04-12 02:43] mtrythall commented on #65
This seems to only happen on the Benefits of Health Section on About.

[2018-04-12 05:34] SmileyChris commented on #65
Weird database problem with treebeard trees. Fixed with:
`heroku run python scripts/manage.py cms fix-tree`

[2018-04-12 05:34] #65 closed

[2018-04-12 19:13] mtrythall opened #66 "Case Study: Re-add Countries"
Per UNICEF request, we need to re-add Countries, but allow for multiple countries to be added to a Case Study.

Countries should appear on Case Study (Photo) Cards instead of Region.

No changes should be made to Case Study Filter.

[2018-04-13 04:25] #55 closed

[2018-04-13 04:25] #66 closed

[2018-04-13 04:25] #53 closed

[2018-04-13 04:25] #64 closed

[2018-04-13 16:37] sodevious commented on #60
@mtrythall how do you feel about a text ellipsis as part of the solution? (example in first card)
<img width="752" alt="screenshot 2018-04-13 12 36 36" src="https://user-images.githubusercontent.com/915966/38746996-5edf9438-3f17-11e8-919f-faf97b213137.png">

[2018-04-13 16:40] sodevious commented on #52
@mtrythall do you know how we are intending to implement the contact form in the backend? id like to make sure the designs there are correct before considering this card complete

[2018-04-13 17:18] mtrythall commented on #52
@sodevious No, we're still locking that down. Right now I have:

So, text, text, drop down, email, drop down, textarea. For your purposes, it'll just be HTML, nothing else fancy.

[2018-04-13 17:19] mtrythall commented on #52
It'll post to a generic view, probably, that sends a text-only email.

[2018-04-13 18:05] mtrythall commented on #47
Yup, I think @SmileyChris needs to do something. Forgot/Can't remember if we need special views. Passing to him.

[2018-04-13 18:12] mtrythall opened #67 "Aux nav (terms, privacy, etc) on small display are bunched up"
<img width="302" alt="screenshot 2018-04-13 14 11 29" src="https://user-images.githubusercontent.com/84750/38751000-b92a4214-3f24-11e8-8354-de7b51a6a808.png">

[2018-04-13 18:40] mtrythall commented on #58
This one seems super fragile and an abuse of Hero. It also doesn't work well on mobile, text isn't aligned at the bottom of the background as it is on the comps.

@sodevious can you rebuild/clean this up?

<img width="1017" alt="screenshot 2018-04-13 14 39 34" src="https://user-images.githubusercontent.com/84750/38752237-7d1f7510-3f28-11e8-96cd-9a35a92f507b.png">

<img width="986" alt="screenshot

[2018-04-13 18:41] mtrythall commented on #49
We just need to drop Hero Simple here from the plugins list.

[2018-04-13 18:46] mtrythall opened #68 "Contact Form Plugin"
We need a contact form with the following fields:

1. Name (text)
2. Institution (text)
3. Country (select)
4. Email (text email)
5. Project scope (select with use cases)
6. Message (textarea)

This should send a text-based (only text) email to `join@rapidpro.io` (configurable email)

The plugin should redirect to /thank-you

[2018-04-13 18:46] mtrythall commented on #68
Working on what email service to use, if any.

[2018-04-14 02:42] #67 closed

[2018-04-14 02:43] #63 closed

[2018-04-14 02:52] mtrythall commented on #62
@sodevious Can we address the Terms, Privacy, and Support links too please?

[2018-04-14 02:52] #60 closed

[2018-04-14 02:53] #61 closed

[2018-04-15 21:41] #59 closed

[2018-04-16 00:19] #43 closed, assigned to mtrythall

[2018-04-16 12:29] #47 closed

[2018-04-16 12:29] #49 closed

[2018-04-16 12:31] SmileyChris commented on #47
The templates are rendered when debug mode is off.
You can test in a development enviroment with two new urls I added: `/404/` and `/500/`.

There was an issue with rendering with sekizai_tags on the 500 page (it uses an empty context), but it didn't look like we were actually using this functionality so I just switched it back to a standard django `{% block %}` tag for the js and css blocks.

[2018-04-16 16:55] sodevious commented on #36
Dropping a reminder that we should do the same with the Foundation JS.

[2018-04-16 20:13] mtrythall opened #69 "OpenGraph"
We'll need to setup basic opengraph support for various pages.

The Meta Attributes drop down should have some basic information. We can use the image there along with descriptions or meta data from other parts of the CMS to populate what we need.

[2018-04-17 17:58] mtrythall commented on #23
Forgot about the link at the bottom. @SmileyChris Can you add a link field to the Featured Accordion component similar to what we have on Section?

Thanks!

[2018-04-17 19:46] mtrythall commented on #23
Hey @sodevious - This looks fine. I can see why you went with tabs (we'll consider renaming it).

I only saw a few small issues:

<img width="628" alt="screenshot 2018-04-17 15 42 48" src="https://user-images.githubusercontent.com/84750/38892786-3dcc4786-4256-11e8-9754-e678432ca004.png">

Here, the breakpoint probably needs to happen sooner. I'm OK with wider cards if the text isn't so scrunched a

[2018-04-17 19:54] mtrythall commented on #23
My test case is here: https://unicef-rapidpro-for-health.herokuapp.com/component-test/

[2018-04-18 05:43] #68 closed

[2018-04-18 16:55] mtrythall commented on #40
Spoke with @nicolaslara about this one and going to try setting this up via base.py.

[2018-04-18 16:57] mtrythall opened #71 "How-to Docs"
Need to cover:

1. How use cases work
2. How functions work
3. Overview of components
4. How the style guide works
5. Get Started

[2018-04-18 17:26] jessiofhall opened #72 "Deployment Documentation for Launch"
Upon approval from UNICEF
This will be hosted as a subdomain on the rapid pro site

Will need:
database dump

[2018-04-18 17:34] mtrythall opened #73 "Case Study Header is Broken on Mobile/Smaller Displays"
This component isn't super clean and needs a pass.

![screenshot 2018-04-18 13 33 33](https://user-images.githubusercontent.com/84750/38948293-25436b38-430d-11e8-98b8-20a47a319f6b.png)

![screenshot 2018-04-18 13 33 29](https://user-images.githubusercontent.com/84750/38948299-27e23b44-430d-11e8-886c-8d9dcb7e87fa.png)

[2018-04-18 17:35] mtrythall commented on #73
Possibly related: https://github.com/rapidpro/chpro-microsite/issues/58

[2018-04-18 18:02] #23 closed

[2018-04-18 18:02] #13 closed

[2018-04-18 19:19] mtrythall commented on #73
This whole thing just needs a pass @sodevious

Other issue is I'm faking the background so alignment is way off:

![screenshot 2018-04-18 15 18 31](https://user-images.githubusercontent.com/84750/38953159-d612cc3e-431b-11e8-84e1-55cffef91f8d.png)

Can you refactor and clean this up please?

[2018-04-19 14:11] mtrythall opened #74 "Easy Installation + Deployment Instructions"
UNICEF needs this so they can stage the site at a subdomain.

[2018-04-19 14:25] sodevious commented on #58
@mtrythall  When you say "This one seems super fragile and an abuse of Hero", does that mean you want it refactored without using `.hero`?

[2018-04-19 14:27] mtrythall commented on #58
What I'm suggesting is that hero has too many variations. We're making a single class do too much work.

[2018-04-20 04:14] mtrythall commented on #21
This needs a second set of eyes. I don't think there is much to it, and portions of it are blocked by #40, but by golly, I'm sure I missed something.

[2018-04-20 04:15] #62 closed

[2018-04-20 14:54] sodevious commented on #52
@mtrythall only some are required, so im just adding an asterisk to the label how it's presented in the mock

[2018-04-24 14:35] mtrythall opened #75 "Need Google Analytics Code"

[2018-04-24 17:54] #52 closed

[2018-04-24 18:41] sodevious opened #76 "Favicon"
Would be nice to have one.

[2018-04-24 19:17] mtrythall opened #77 "SVGs from sprite map don't work in IE11"
We may need to use SVG for Everybody:

https://github.com/jonathantneal/svg4everybody

[2018-04-24 19:49] sodevious opened #78 "Terms and Conditions, Privacy Policy, Support Pages"
These need to be built out and ensure the template for these static pages works.

[2018-04-24 19:50] mtrythall commented on #76
Here are 3 we can use for favicon, iOS, and Chrome. Most important is Favicon though.

![rph-favicon-32](https://user-images.githubusercontent.com/84750/39210544-0ec7ddde-47d7-11e8-8c03-5a8a3a5546d6.png)
![rph-favicon-120](https://user-images.githubusercontent.com/84750/39210545-0ed39200-47d7-11e8-87c5-2cca41dbefb5.png)
![rph-favicon-196](https://user-images.githubusercontent.com/84750/39210546-0e

[2018-04-24 19:50] mtrythall commented on #76
though i'm guessing they scale, so, since there isn't much of a difference, maybe we only need 1?

[2018-04-24 20:23] mtrythall opened #79 "Footer should be fixed to the bottom"
On short pages (of which there will be few), the footer is high up. It should always be fixed to the bottom.

Careful to respect the off-canvas nav when making this change.

<img width="1195" alt="screenshot 2018-04-24 16 22 52" src="https://user-images.githubusercontent.com/84750/39212126-c7042b9c-47db-11e8-979f-1b6c09e9968e.png">

[2018-04-24 20:26] mtrythall commented on #69
This doesn't seem to be using the image on case studies:

https://unicef-rapidpro-for-health.herokuapp.com/case-studies/minfosante/

[2018-04-24 20:26] mtrythall commented on #69
Can you take a look @sodevious ?

[2018-04-24 20:27] mtrythall commented on #69
We also need a default image.

[2018-04-24 20:31] sodevious commented on #21
<img width="727" alt="screenshot 2018-04-24 16 30 57" src="https://user-images.githubusercontent.com/915966/39212530-fd32db36-47dc-11e8-87e7-cca65b534a85.png">

[2018-04-24 21:57] sodevious opened #80 "Handle case study images of different ratios"
<img width="507" alt="screenshot 2018-04-24 14 43 46" src="https://user-images.githubusercontent.com/915966/39216260-f42327d8-47e8-11e8-8833-91317b98679d.png">

[2018-04-24 21:59] sodevious commented on #69
What should the default be @mtrythall ?

[2018-04-24 22:06] sodevious commented on #80
<img width="1023" alt="screenshot 2018-04-24 18 06 16" src="https://user-images.githubusercontent.com/915966/39216563-3d4d62c4-47ea-11e8-8ad4-e51f587e5472.png">

[2018-04-25 00:12] mtrythall commented on #78
I don't think they're static pages. They are top level pages, not listed in the menu, that use the "Simple Content Template".

See this: https://unicef-rapidpro-for-health.herokuapp.com/contact-us/ as an example.

We don't have content here, but we shouldn't lose that this needs to exist. I'll assign to UNICEF.

[2018-04-25 00:22] mtrythall opened #81 "Small amount of excess padding on Case Study Search Results"
Driving me bonkers now that I see it.

<img width="600" alt="screenshot 2018-04-24 20 21 53" src="https://user-images.githubusercontent.com/84750/39220173-3648903a-47fd-11e8-9bdd-a74870f7b1b7.png">

[2018-04-25 00:24] mtrythall opened #82 ""Connection Refused" when Submitting Email Form"
Looks like we need email configuration of some sort. Testing here:

http://unicef-rapidpro-for-health.herokuapp.com/contact-us/

This happens on form submission.

[code]

[2018-04-25 00:26] mtrythall opened #83 "Contact Plugin should post to something other than /contact_form/"
URL isn't unique enough. Someone is likely to create a page with that name.

[2018-04-25 00:39] mtrythall opened #84 "Back Link misaligned in FF, Safari, and IE"
https://app.crossbrowsertesting.com/public/ic05b2f368a8ccf1/screenshots/za30272be5c1e69a2309

The "Back to CASE STUDIES" link is not at the top of the hero in certain browsers.

<img width="748" alt="screenshot 2018-04-24 20 38 39" src="https://user-images.githubusercontent.com/84750/39220502-9312f36c-47ff-11e8-95b9-dc2703600151.png">

[2018-04-25 00:50] #21 closed

[2018-04-25 01:01] mtrythall commented on #69
I've asked @russelq to get us something. Has to be 2000x1500.

[2018-04-25 01:02] mtrythall commented on #69
On the topic of the broken URL for OG images, that's because the URLs are coming out as:

[code]

I can see that's probably because of these lines:

[code]

Where `thumbnail` is giving us a full, S3 URL. I don't want to drop `get_full_host` yet, so I'm deferring that part to @SmileyChris or you @sodevious, but maybe Chris can knock it out quickly or make a call.

[2018-04-25 01:50] mtrythall commented on #69
I removed `get_full_host`. Just need that default image.

[2018-04-25 02:36] mtrythall opened #85 "Need inline link colors"
They're using the default blue from Foundation. Perhaps Navy?

Example: https://unicef-rapidpro-for-health.herokuapp.com/functions/

![screenshot 2018-04-24 22 35 57](https://user-images.githubusercontent.com/84750/39223391-ddd39130-480f-11e8-9d1e-341c15fb8f50.png)

[2018-04-25 05:05] SmileyChris commented on #83
Fixed in 74a0c8f2b455d0626b328fbeb324a11e5cbccd89

[2018-04-25 05:05] #83 closed

[2018-04-25 05:05] #82 closed

[2018-04-25 05:10] SmileyChris commented on #82
would be better to use `django-amazon-ses` instead but that needed @ipmb to give the amazon user the correct perms.

[2018-04-26 09:08] vturmine opened #86 "margin for pictures into subpage w/Sidebar template"
@mtrythall - in use case, when we add a picture as one element of the main content, picture needs a bottom margin with the next element. I let you an example with vaccination.

[2018-04-26 13:43] mtrythall commented on #86
Oh, darn. I thought we covered this, but I realize we changed the HTML last minute. Thanks for catching. We'll address!

@sodevious We may want to wrap these sort of images in a `<figure>` tag, but the file we're using isn't for figures as much as it is for *all* inline images. Can you make a call and tackle?

[2018-04-26 15:13] mtrythall opened #87 "Restrict Plugins by CMS Placeholder"
List TBD

[2018-04-26 15:28] mtrythall opened #88 "Links/Buttons on Accordion Cards do not work"
Clicking buttons on accordion cards, even with valid links, doesn't do anything.

![screenshot 2018-04-26 11 27 56](https://user-images.githubusercontent.com/84750/39315540-e3b401da-4944-11e8-8725-ec6a93b179ba.png)

[2018-04-26 16:05] mtrythall commented on #85
@russelq Any thoughts on this?

[2018-04-26 16:05] mtrythall commented on #85
Sorry, should say, we're going with the Navy color. Any issues there?

[2018-04-26 16:09] mtrythall commented on #85
Here's how Navy looks

<img width="776" alt="screenshot 2018-04-26 12 09 28" src="https://user-images.githubusercontent.com/84750/39317884-b21f7c16-494a-11e8-8cac-b6af5e5d874e.png">

Links don't jump out. Maybe a thicker border, different color?

[2018-04-26 16:11] sodevious commented on #85
Here's light navy
<img width="954" alt="screenshot 2018-04-26 12 11 43" src="https://user-images.githubusercontent.com/915966/39318029-043360b2-494b-11e8-9159-bf45b7d25ef9.png">

[2018-04-26 16:13] sodevious commented on #85
And with a border that stands out a little more
<img width="953" alt="screenshot 2018-04-26 12 13 20" src="https://user-images.githubusercontent.com/915966/39318113-409c0694-494b-11e8-949f-608ac63456fb.png">

[2018-04-26 16:14] russelq commented on #85
I like bottom-border more than text-underline

[2018-04-26 16:15] mtrythall commented on #69
This has been added:

https://github.com/rapidpro/chpro-microsite/blob/master/rh/client/static/img/rph-og-image.jpg

[2018-04-26 16:36] mtrythall commented on #85
Let's go with border-bottom and play with the weight of it. 2px? 3px?

Not sure about the light, seems inactive/visited.

[2018-04-26 16:40] russelq commented on #85
Good point on the light color.

This is sort of my go-to approach with text links, but I like to use border-bottom, with a 1px (or 2px) weight and dotted-line. If you use the dark navy color with that approach, the line should be prominent but still somewhat subtle.

[2018-04-26 18:15] sodevious commented on #86
@mtrythall this approach may be too simplified, but would appreciate your thoughts

[2018-04-26 18:28] sodevious commented on #85
how's this?
<img width="955" alt="screenshot 2018-04-26 14 27 58" src="https://user-images.githubusercontent.com/915966/39324661-0baf1d0a-495e-11e8-88a9-54a7cf1447ba.png">

[2018-04-27 10:36] vturmine opened #89 "Duplication of case studies in Photo Card Feature"
@mtrythall Case studies are duplicated in the "similar case studies" section.
In the example below, Uganda case is displayed twice (one for vaccination keyword and the other for pregnancy keyword).

<img width="1057" alt="case studies" src="https://user-images.githubusercontent.com/12600636/39358615-f2a16548-4a16-11e8-8931-606ce76f36d6.png">

[2018-04-28 01:34] #88 closed

[2018-04-28 01:58] #86 closed

[2018-04-28 01:59] mtrythall commented on #85
Colors look good. I made the border disappear on hover, but there's a flicker. Need to address.

[2018-04-28 03:00] mtrythall commented on #79
Almost there. Have a gap at the bottom of the site now.

<img width="359" alt="screenshot 2018-04-27 22 59 52" src="https://user-images.githubusercontent.com/84750/39391263-bb4bb316-4a6e-11e8-9ca9-9a759275e42d.png">

[2018-04-28 03:00] mtrythall commented on #79
Can you take a look please?

[2018-04-28 03:36] #58 closed

[2018-04-28 03:36] mtrythall commented on #58
Going to file a separate issue for the second scenario. On mobile, we want the background to sort of cut off, with the image sticking out, on mobile. This works for now, looks good 👍 and is a lot cleaner. I'm impressed!

[2018-04-28 03:37] mtrythall commented on #81
Thanks for doing this. I know it's a little crazy, but I can sleep at night now. Good job!

[2018-04-28 03:37] #81 closed

[2018-04-28 03:38] #84 closed

[2018-04-28 04:46] mtrythall commented on #89
Since Use Cases aren't anything special, we might either need:

1. A new template/view
2. A plugin that allows you to show case studies by use cases (or function). This seems more versatile.
3. A grid block that accepts Case Studies

Also, I think we should add a new placeholder to the bottom of all sub-page templates so that #2 could be added, if we go that route, but also for other components.

[2018-04-30 17:18] scampo commented on #78
Hi all -- yes, we need these and will have content soon. But @mtrythall is right that these should use the "Simple Content Template".

[2018-04-30 17:26] sodevious commented on #79
@mtrythall what browser is this?

[2018-04-30 17:31] mtrythall commented on #40
I've since learned that you can't append here, you have to overwrite. So, that's what we'll do.

Could be wrong, but haven't see any other examples.

[2018-04-30 17:45] sodevious opened #90 "Performance"
- [ ] Run a webpage speedtest

- [ ] Run through google pagespeed

- [ ] Images should compressed and the right size

- [ ] SVG's should be compressed (but should not be altered)

- [ ] Load only the CSS and JS we need: https://github.com/rapidpro/chpro-microsite/issues/36

- [ ] CSS and JS should be compressed

[2018-04-30 18:44] mtrythall opened #91 "Update Mail Settings"
We're using temporary settings for the email plugin. We'll need production credentials/key or something similar for the backend to send emails.

[2018-04-30 19:16] sodevious commented on #79
* Also this breaks in IE 11

[2018-04-30 20:32] sodevious opened #92 "Card with image is too large in IE"
Windows 10   Internet Explorer 11 1366x768

![z3c67616578c1132bc6f](https://user-images.githubusercontent.com/915966/39448805-0a22d146-4c94-11e8-9b01-a05709f19132.png)
![z23b9987d02c24a60fed](https://user-images.githubusercontent.com/915966/39448806-0a3bc7c8-4c94-11e8-8f31-2d45100e2e10.png)

[2018-04-30 20:34] sodevious opened #93 "Case Studies sidebar not expanding in IE 11"
Windows 10   Internet Explorer 11 1366x768
![zce1225a404ec2f754c3](https://user-images.githubusercontent.com/915966/39448845-46d47d6a-4c94-11e8-8f99-d8b7aa5d5115.png)

[2018-04-30 20:42] sodevious commented on #93
Also happening in  iPad Pro / 9.3 Simulator  Mobile Safari 9.0 2732x2048 (Landscape)
![zce1225a404ec2f754c3](https://user-images.githubusercontent.com/915966/39449214-72f7be7e-4c95-11e8-90b7-3b201609b1c1.png)

[2018-04-30 20:44] mtrythall commented on #40
We're using django-ckeditor: https://github.com/django-ckeditor/django-ckeditor

[2018-04-30 21:15] sodevious commented on #92
fix confirmed: https://app.crossbrowsertesting.com/public/iab39263992999ca/screenshots/zd0ba5fe4408a68be444/ze07bcb20c84b4467f03

[2018-04-30 21:42] mtrythall opened #94 "Case Study Pagination"
I think we're missing case study pagination, as depicted in the UI.

![screenshot 2018-04-30 17 41 33](https://user-images.githubusercontent.com/84750/39451758-ca209d6c-4c9d-11e8-83b7-5a273bd2a658.png)

Check https://github.com/rapidpro/chpro-microsite/blob/master/rh/templates/case_studies/case_study_list.html#L76-L92

[2018-05-03 16:56] sodevious commented on #93
fixed
![zf9d7c293d5aae7636a1](https://user-images.githubusercontent.com/915966/39591325-6ac35cac-4ed1-11e8-9b71-16bd1ec04d95.png)

[2018-05-03 16:57] sodevious opened #95 "IE 11 Navbar Height is too large"
Windows 8.1   Internet Explorer 11 1366x768
![zf9d7c293d5aae7636a1](https://user-images.githubusercontent.com/915966/39591359-85c9dd00-4ed1-11e8-9ed0-393b1cbee8ae.png)

[2018-05-03 20:03] pyup-bot opened #96 "Initial Update"
The bot created this issue to inform you that pyup.io has been set up on this repo.
Once you have closed it, the bot will open pull requests for updates as soon as they are available.

[2018-05-04 03:59] #85 closed

[2018-05-04 04:01] mtrythall commented on #79
Still seeing this one. Any luck on your end?

[2018-05-04 04:01] sodevious commented on #79
@mtrythall I actually haven't seen it at all yet :cry:

[2018-05-04 04:02] sodevious commented on #79
Was hoping I'd come across it while developing and working on some of these other bugs. Will have to take another stab at testing to find it.

[2018-05-04 04:03] mtrythall opened #98 "Footer logo isn't left aligned on desktop in Safari"
<img width="358" alt="screenshot 2018-05-04 00 02 31" src="https://user-images.githubusercontent.com/84750/39612553-873cebf2-4f2e-11e8-9893-7c89c07fa455.png">

[2018-05-04 04:04] mtrythall commented on #79
Ok. Yeah, I see it on Safari too. I can take a look this weekend too. I just didn't see *any* element that would be causing it. Everything checked out!

[2018-05-04 04:15] mtrythall opened #99 "Add a placeholder on 2 column layouts that appears after the columns"
Something like a pre-footer/post-content placeholder that appears after the two columns, in case you want a wide block.

[2018-05-04 04:16] mtrythall commented on #36
@sodevious I think we're at a point where you can run with this one now.

[2018-05-06 00:43] mtrythall commented on #90
I recently learned at LL will be providing the hosting environment, so we should check some of this *after* launch (since it'll be server dependent).

This is also a good future list for the next dev.

[2018-05-06 00:56] #92 closed

[2018-05-06 00:56] mtrythall commented on #95
Better, not exact, but great for IE11. Thanks!

[2018-05-06 00:56] #95 closed

[2018-05-06 00:58] #77 closed

[2018-05-06 01:02] #93 closed

[2018-05-06 01:13] mtrythall commented on #79
I can't reproduce this on crossbrowsertesting.com, so, marking it closed.

[2018-05-06 01:13] #79 closed

[2018-05-06 01:27] #94 closed

[2018-05-07 13:05] mtrythall opened #100 "Alignment of Heroes with rest of page"
<img width="1037" alt="screenshot 2018-05-07 09 03 56" src="https://user-images.githubusercontent.com/84750/39703296-aaa0e644-51d5-11e8-9045-def2342c8eb1.png">

[2018-05-18 19:06] jessiofhall opened #101 "Add Partner Logos to the footer"
From @scampo

Next Steps:

- Evaluate the time needed to accomplish this
- Determine if there's an alternate route worth considering/discussing
- Determine an ETA

[2018-05-28 19:08] sodevious commented on #98
@mtrythall Not seeing this in FF, Safari or Chrome.
![screenshot 2018-05-28 21 06 47](https://user-images.githubusercontent.com/915966/40626795-3f09f6f4-62bb-11e8-889f-ed431e488b7c.png)

[2018-05-29 15:10] sodevious commented on #101
@jessiofhall yes working on it! chatted through it with @mtrythall this morning

[2018-05-29 18:47] jessiofhall commented on #101
@sodevious I don't have those at the moment. @scampo just needs to be able to add them via the CMS if that's possible.

Is there a solution for that?

[2018-05-29 18:52] jessiofhall commented on #101
![screen shot 2018-05-29 at 1 51 59 pm](https://user-images.githubusercontent.com/12751372/40678959-810c8828-6347-11e8-98b6-384bc13e541f.png)

That's an example he sent our way. I can dig for more info, though. :)

[2018-05-29 19:04] sodevious commented on #98
Closing because now moot due to #101

[2018-05-29 19:04] #98 closed

[2018-05-30 16:33] sodevious commented on #101
@jessiofhall  I made it so it should look fine with any number of logos (1-5), so I will leave it as is until we see

[2018-06-01 20:26] jessiofhall commented on #101
Great! Has this update been deployed to production?

[2018-06-01 20:30] jessiofhall opened #102 "Margin for Quote Box + Author Image"
"other request on css style. We need a margin for Quote box and if it's possible to add a small picture for the author of the quote"

[2018-06-01 20:33] jessiofhall opened #103 "Reduce Margin for blocks"
Blocks margin are bit too much. I check CSS styling and we have padding-top: 3rem and padding-bottom: 3rem; then we have 6rem between 2 blocks.

a) when we add an image in a text bloc it is not float
b) margin left of list into text (its aligned with paragraph now)
c) add a class for image caption
d) for subpage template, put the sidebar to the right like case studies
e) is it possible to have an

[2018-06-05 09:54] sodevious commented on #102
@jessiofhall @mtrythall Assuming "margin on quotebox" means like 1rem of margin on the top and bottom?

[2018-06-05 11:17] sodevious commented on #102
Pushed the front and backend for this!

[2018-06-05 18:10] jessiofhall commented on #103
@vturmine On the items in this issue that have not been addressed, you can accomplish what you're asking for with Foundation. You can review that here: https://foundation.zurb.com/sites/docs/float-classes.html

Will you have a look and let me know? If you'd like to address these things in the future, we should create new issues and add them to a future phase list so they're not lost.

[2018-06-05 18:14] jessiofhall commented on #40
@sodevious and @mtrythall what's happening with this issue? Do we need to complete or add it back to the backlog?

[2018-06-05 18:19] mtrythall commented on #40
Ack, we never got around to it. I don't think it's blocking anyone, it's a nice to have. Basically, there's a drop down in the WYSIWYG editor to apply some common styles. It'd be nice to have that drop down work with our styles (instead of the defaults), but it doesn't currently.

You can still apply the styles via the code editor on the WYSIWYG, but that's not as user friendly.

I still think it'

[2018-06-05 18:21] jessiofhall commented on #40
Should we move it back to the backlog? Was this a request or something you noticed?